<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   
        <p>Team Name: <%= @name %></p>
        <p>Coach: <%= @coach %></p>
        <p>Point Guard: <%= @pg %></p>
        <p>Shooting Guard: <%= @pg %></p>
        <p>Power Forward: <%= @pg %></p>
        <p>Small Forward: <%= @pg %></p>
        <p>Center: <%= @pg %></p>
        <input type="submit">
      </form>

# <h1>Team Name: <%= @name %></h1>

 </body>
</html>


